/* .menu {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to right, #000000 50%, #2149d9 100%);
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}

.nav-menu a:hover {
    background-color: #575757;
}

.nav-menu-mobile {
    display: none;
    position: relative;
}

.nav-menu-mobile button {
    background-color: #333;
    color: white;
    border: none;
    padding: 14px 20px;
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.nav-menu-mobile-content {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #333;
    position: fixed;
    top: 50px;
    right: 0;
    z-index: 999;
    padding: 10px;
}

.nav-menu-mobile-content a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.nav-menu-mobile-content a:hover {
    background-color: #575757;
}

.nav-menu-mobile-content.active {
    display: flex;
}



.header-bg {
    background-color: var(--cor-13);
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header-menu a {
    display: inline-block;
    padding: 16px 0px;
    position: relative;
<<<<<<< HEAD
} */

/* Estilos do header e menu */


.header-container {
  width: 100%;
  background: linear-gradient(to right, #000000 50%, #2149d9 100%);
  padding: 10px;

}

.menu {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(to right, #000000 50%, #2149d9 100%);
  align-items: center;
  padding: 10px;
  position: relative;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
}

.nav-menu a:hover {
  background-color: #575757;
}

.nav-menu-mobile {
  display: none;
  position: relative;
}

.nav-menu-mobile button {
  background-color: #333;
  color: white;
  border: none;
  padding: 14px 20px;
  font-size: 20px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.nav-menu-mobile-content {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #333;
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 999;
  padding: 10px;
}

.nav-menu-mobile-content a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
}

.nav-menu-mobile-content a:hover {
  background-color: #575757;
}

.nav-menu-mobile-content.active {
  display: flex;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }

  .nav-menu-mobile {
    display: flex;
  }
}

@media (max-width: 480px) {
  .nav-menu {
    display: none;
  }

  .nav-menu-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-menu-mobile button {
    font-size: 24px;
    background: transparent;
    border: none;
  }

  .nav-menu-mobile-content {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .nav-menu-mobile-content.active {
    display: flex;
  }

  .nav-menu-mobile button {
    font-size: 18px;
  }

  .nav-menu-mobile-content a {
    font-size: 16px;
  }
}